<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Calculadora C³</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <style type="text/css">
      @media print {
        .form-web {
          display: none;
        }
        .budget-printed{
          display: inherit;
          -webkit-print-color-adjust: exact;
          color-adjust: exact;
        }
        table td.highlighted{
          background-color: #f2f2f2 !important;
        }

        table .no-align{
          vertical-align: inherit;
        }
      }

       @media screen {
        .form-web {
          display: inherit;
        }
        .budget-printed{
          display: none;
        }
      }


    </style>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container class="form-web">
        <b-row class="justify-content-md-center">
          <b-col col md="9" sm="12">
            <h1 class="mt-3 display-4">
              Calculadora C³
            </h1>


            <b-form @submit="printThis">

              <b-row class="mb-4">
                <b-col md="12">
                  <h2>
                    Datos de la cotización
                  </h2>        
                </b-col>

                <b-col lg="6">

                  <b-form-group
                    id="input-group-id"
                    label="ID cotizacion"
                    label-for="input-id"
                  >
                    <b-form-input
                      id="input-id"
                      v-model="client.profile.id"
                      type="number"
                      min="0"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>


                <b-col lg="6">

                  <b-form-group
                    id="input-group-date"
                    class="md-6"
                    label="Fecha"
                    label-for="input-date"
                  >
                    <b-form-input
                      id="input-date"
                      v-model="client.profile.date"
                      type="date"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>



              <b-row class="mb-4">
                <b-col col md="12">
                  <h2>
                    Datos del cliente
                  </h2>
                </b-col>


                <b-col md="12">
                  <b-form-group
                    id="input-group-profile-name"
                    label="Cliente"
                    label-for="input-profile-name"
                  >
                    <b-form-input
                      id="input-profile-name"
                      v-model="client.profile.name"
                      required
                      placeholder="Brinca"
                    ></b-form-input>
                  </b-form-group>
                </b-col>

 

                <b-col lg="6">
                  <b-form-group
                    id="input-group-profile-email"
                    label="Correo electrónico"
                    label-for="input-profile-email"
                  >
                    <b-form-input
                      id="input-profile-email"
                      v-model="client.profile.email"
                      type="email"
                      required
                      placeholder="correo@empresa.com"
                    ></b-form-input>
                  </b-form-group>
                </b-col>

                <b-col lg="6">
                  <b-form-group
                    id="input-group-profile-agent"
                    label="Representante"
                    label-for="input-profile-agent"
                  >
                    <b-form-input
                      id="input-profile-agent"
                      v-model="client.profile.agent"
                      required
                      placeholder="Juan Perez"
                    ></b-form-input>
                  </b-form-group>
                </b-col>

              </b-row>


              <b-row class="mb-4">
                <b-col col md="12">
                  <h2>
                    Cotización
                  </h2>
                </b-col>

                <b-col lg="6">
                  <b-form-group
                    id="input-group-pricing-overhead"
                    label="Overhead"
                    label-for="input-pricing-overhead"
                  >
                    <b-input-group append="CLP">
                      <b-form-input
                        id="input-pricing-overhead"
                        v-model="client.pricing.overhead"
                        type="number"
                        min="0"
                        required
                      ></b-form-input>
                    </b-input-group>
                  </b-form-group>

                </b-col>
                <b-col lg="6">
                  <b-form-group
                    id="input-group-pricing-collaborators"
                    label="Número de colaboradores"
                    label-for="input-pricing-collaborators"
                  >
                    <b-form-input
                      id="input-pricing-collaborators"
                      v-model="client.pricing.collaborators"
                      type="number"
                      min="0"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <b-form-group
                    id="output-group-price-survey-total"
                    label="Precio aplicación encuesta"
                    label-for="output-price-survey-total"
                  >
                    <p id="output-price-survey-total">
                      {{ Math.round(price_survey_total).toLocaleString("es-CL") }} CLP 
                    </p>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <b-form-group
                    id="input-group-pricing-requested-reports"
                    label="Reportes solicitados"
                    label-for="input-pricing-requested-reports"
                  >
                    <b-form-input
                      id="input-pricing-requested-reports"
                      v-model="client.pricing.requested_reports"
                      type="number"
                      min="0"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <b-form-group
                    id="output-group-subtotal"
                    label="Subtotal"
                    label-for="output-subtotal"
                  >
                    <p id="output-subtotal">
                      {{ Math.round(subtotal).toLocaleString("es-CL") }} CLP
                    </p>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <b-form-group
                    id="input-group-pricing-discount"
                    label="Descuento"
                    label-for="input-pricing-discount"
                  >
                    <b-form-input
                      id="input-pricing-discount"
                      v-model="client.pricing.discount"
                      type="number"
                      min="0"
                      max="50"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <strong>
                    
                    <b-form-group
                      id="output-group-total"
                      label="Total"
                      label-for="output-total"
                    >
                      <p id="output-total">
                        {{ Math.round(total).toLocaleString("es-CL") }} CLP / {{ Math.round(total_uf).toLocaleString("es-CL") }} UF
                      </p>
                    </b-form-group>
                  </strong>
                </b-col>
              </b-row>
              <b-row class="mb-4">

                <b-col md="4">
                  <b-button block type="submit" variant="success">Imprimir</b-button>
                </b-col>
                <b-col md="4">
                  <b-button block variant="outline-primary" @click.prevent="exportCsvThis">Exportar a CSV</b-button>
                </b-col>
              </b-row>            

            </b-form>
          </b-col>
        </b-row>
      </b-container>

      <div class="budget-printed">
          
        <b-row class="header mb-5">
          <b-col col lg="6">
            <p style="font-size: 80%; line-height: 120%;">
              Andrés de Fuenzalida 17, Of. 63<br>
              Providencia, Santiago<br>
              Teléfono: +56 9 7519 3477<br>
              Correo electrónico: hola@brinca.global<br>
              Web: www.brinca.global
            </p>
          </b-col>
          <b-col col lg="6" class="text-right">
            <h1 class="mt-0 mb-0">
              Cotización
            </h1>
            <p class="mt-0 mb-0">
              <strong>
                Fecha:
              </strong>
              {{ new Date(client.profile.date).getUTCDate() }}/{{ new Date(client.profile.date).getUTCMonth()+1 }}/{{ new Date(client.profile.date).getUTCFullYear() }}
            </p>
            <p class="mt-0 mb-0">
              <strong>
                N° de cotización:
              </strong>
              {{ client.profile.id }}
            </p>
          </b-col>
        </b-row>


        <b-row class="details-client mb-5">
          <b-col col sm="6">
            <p>
              <strong>
                Cliente:
              </strong>
              {{ client.profile.name }}
            </p>
          </b-col>
          <b-col col sm="6">
            <p>
              <strong>
                Atención:
              </strong>
              {{ client.profile.agent }}
            </p>
          </b-col>
        </b-row>


        <b-row class="budged-details mb-5">
          <b-col col lg="12">
            <table class="table table-bordered" style="width: 100%;">

              <tbody>
                <tr class="text-center">
                  <td class="highlighted">
                    Descripción Servicios
                  </td>
                  <td class="highlighted">
                    Total
                  </td>
                </tr>

                <tr>
                  <td>
                    <p>
                      Servicio: Diagnóstico Full C³
                    </p>
                    <p>
                      1. Aplicación Encuesta C³ a toda la empresa. con los siguientes indicadores:<br>
                      1.1. Cultura<br>
                      1.2. Procesos<br>
                      1.3. Estrategia<br>
                      1.4. Resultados<br>
                    </p>
                    <p>
                      2. Desagregación de resultados en los siguientes niveles:<br>
                      2.1. Indicadores comparados en relación al benchmark vigente (nacional y por industria)<br>
                      2.2. Indicadores de cultura desagregados por empresa, áreas y cargos<br>
                      2.3. Compendio ítems de cultura<br>
                      2.4. Selección de comentarios preguntas abiertas<br>
                    </p>
                    <p>
                      3. Productos Entregables:<br>
                      - Informe de resultados<br>
                      - Consolidado respuestas abiertas<br>
                      - Presentación de resultados<br>
                      - Participación Ranking Creatividad e Innovación 2020<br>
                      - Participación Círculo de Culturas Creativas
                    </p>
                  </td>
                  <td class="text-center no-align">
                    ${{ Math.round(subtotal).toLocaleString("es-CL") }}
                  </td>
                </tr>
              </tbody>
            </table>






            </table>
          </b-col>
        </b-row>


        <b-row class="budged-details mb-5">
          <b-col col lg="12">
            <table class="table table-bordered" style="width: 30%;">
              <tbody>
                <tr>
                  <td class="highlighted">
                    Subtotal
                  </td>
                  <td class="text-right">
                    ${{ Math.round(subtotal).toLocaleString("es-CL") }}
                  </td>
                </tr>
                <tr>
                  <td class="highlighted">
                    IVA
                  </td>
                  <td class="text-right">
                    Exento
                  </td>
                </tr>
                <tr v-if="client.pricing.discount != 0">
                  <td class="highlighted">
                    Descuentos
                  </td>
                  <td class="text-right">
                    {{ client.pricing.discount }}%
                  </td>
                </tr>
                <tr>
                  <td class="highlighted">
                    <strong>
                      Total
                    </strong>
                  </td>
                  <td class="text-right">
                    <strong>
                      ${{ Math.round(total).toLocaleString("es-CL") }}
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-col>
        </b-row>


        <b-row class="small-letter mb-5">
          <b-col col lg="12">
            <p>
              Condiciones:
            </p>
            <p>
              <ul>
                <li>Cotización válida por 30 días.</li>
                <li>Cualquier modificación requiere realizar nueva cotización.</li>
                <li>Forma de pago: 2 facturas al inicio de cada medición. Pago a 30 días contra factura </li>
                <li>Medio de pago: Transferencia electrónica o depósito en cuenta corriente.</li>
              </ol>
            </p>
          </b-col>
        </b-row>
      </div>
    </div>
  </body>

  <footer>
    <script type="text/javascript">
      window.app = new Vue({
        el: '#app',
        data: {
          surveygizmo: {
            anual: 4000
          },
          client: {
            profile:{
              id: 0,
              name: "",
              date: null,
              email: "",
              agent: "",
            },
            pricing:{
              overhead: 100,
              collaborators: 2800,
              requested_reports: 1,
              discount: 30,
            }
          },
          base: {
            report: 3500000,
            base_partners: 999,
          },
          finance: {
            usd_to_clp: {
              date: "",
              value: 690.805
            },
            uf_to_clp:  {
              date: "",
              value: 27953.42
            }
          }
        },
        created(){
          fetch("https://mindicador.cl/api/dolar")
            .then(response => (response.json()))
            .then(result => { 
              this.finance.usd_to_clp.date = result.serie[0].fecha
              this.finance.usd_to_clp.value = result.serie[0].valor
            });

          fetch("https://mindicador.cl/api/uf")
            .then(response => (response.json()))
            .then(result => { 
              this.finance.uf_to_clp.date = result.serie[0].fecha
              this.finance.uf_to_clp.value = result.serie[0].valor
            });
        },
        computed: {
          surveygizmo_unit_price() { return ((this.surveygizmo.anual/12)/10000) },
          surveyunit_price() { return (this.surveygizmo_unit_price * this.finance.usd_to_clp.value) * this.client.pricing.overhead  },
          collaborators_delta() { 
            var delta =  this.client.pricing.collaborators - this.base.base_partners
            return (delta > 0 ? delta : 0)
          },
          price_survey_total() { return this.collaborators_delta * this.surveyunit_price },
          subtotal() { return this.client.pricing.requested_reports * ( this.base.report + this.price_survey_total) },
          total() { return ((100-this.client.pricing.discount)/100) * this.subtotal },
          total_uf() { return this.total/this.finance.uf_to_clp.value }
        },
        methods:{
          printThis(e) {
            e.preventDefault();
            window.print();
          },
          exportCsvThis(e){
            const rows = [
                ["ID", "Fecha", "Nombre empresa", "Email empresa", "Reperesentante Empresa"],
                [this.client.profile.id, this.client.profile.date, this.client.profile.name, this.client.profile.email, this.client.profile.agent]
            ];
            let csvContent = "data:text/csv;charset=utf-8," + rows.map(e => e.join(",")).join("\n");

            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "my_data.csv");
            document.body.appendChild(link); // Required for FF

            link.click();

          }
        }
      })

    </script>
  </footer>
</html>